### 파이썬
 - 내부 DB 존재 : SQLite
 - 외부 DB 연동 가능 : oracle,mongodb ...

In [1]:
import sqlite3

print(sqlite3.sqlite_version)

3.45.3

In [3]:
from datetime import datetime

now = datetime.now()
print(now)

# format 지정
today = now.strftime("%Y-%m-%d %H:%M:%S")
today

2025-01-03 11:09:16.648798

'2025-01-03 11:09:16'

In [2]:
# db 생성
# isolation_level : auto commit 지원여부
conn = sqlite3.connect("./test.db",isolation_level=None)

NameError: name 'sqlite3' is not defined

In [12]:
# cursor

cursor = conn.cursor()

# 테이블 생성
# TEXT : varchar2, NUMERIC,INTEGER : 숫자

sql = "CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, username TEXT, email TEXT, phone TEXT, regdate TEXT)"
cursor.execute(sql)

NameError: name 'conn' is not defined

In [8]:
# 삽입
now = datetime.now()
today = now.strftime("%Y-%m-%d %H:%M:%S")

sql = "INSERT INTO users(id, username, email, phone, regdate) VALUES(1,'Kim','kim@naver.com','010-1234-1234',?)"
cursor.execute(sql, (today,))

NameError: name 'datetime' is not defined

In [ ]:
now = datetime.now()
today = now.strftime("%Y-%m-%d %H:%M:%S")

sql = "INSERT INTO users(id, username, email, phone, regdate) VALUES(?,?,?,?,?)"
cursor.execute(sql, (2,'Choi','choi@naver.com','010-4567-1234',today))

In [ ]:
now = datetime.now()
today = now.strftime("%Y-%m-%d %H:%M:%S")

user_list = (
    (3,'Park','park@naver.com','010-4567-1234',today)
    (4,'Lee','lee@naver.com','010-7890-1234',today)
    (5,'Yoo','yoo@naver.com','010-2583-1234',today)
)
sql = "INSERT INTO users(id, username, email, phone, regdate) VALUES(?,?,?,?,?)"
cursor.executemany(sql,user_list)

In [14]:
# 조회 : fetchone(), fetchmany(), fetchall()

sql = "SELECT * FROM users"
cursor.execute(sql)

cursor.fetchone()

NameError: name 'cursor' is not defined

In [ ]:
cursor.fetchmany()

In [15]:
sql = "SELECT * FROM users"
cursor.execute(sql)

cursor.fetchall()

NameError: name 'cursor' is not defined

In [16]:
sql = "SELECT * FROM users"
cursor.execute(sql)

for row in cursor.fetchall():
    print(row)

NameError: name 'cursor' is not defined

In [17]:
# 특정 id 조회

sql = "SELECT * FROM users WHERE id=?"
cursor.execute(sql, (3,))

cursor.fetchone()

NameError: name 'cursor' is not defined

In [ ]:
sql = "SELECT * FROM users WHERE id=%d"
cursor.execute(sql % 4)

cursor.fetchone()

In [ ]:
# dict 사용
sql = "SELECT * FROM users WHERE id=:id"
cursor.execute(sql,{"id":5})

cursor.fetchone()

In [ ]:
# id가 2 or 4

sql = "SELECT * FROM users WHERE id IN(?,?)"
cursor.execute(sql,(2,4))
cursor.fetchall()

In [18]:
sql = "SELECT * FROM users WHERE id IN(%d,%d)"
cursor.execute(sql % (2,4))

cursor.fetchall()

NameError: name 'cursor' is not defined

In [19]:
sql = "SELECT * FROM users WHERE id=:id1 OR id=:id2"
cursor.execute(sql ,{"id1":2,"id2":4})

cursor.fetchall()

NameError: name 'cursor' is not defined

In [20]:
# 수정

sql = "UPDATE users SET phone = ? WHERE id= ?"
cursor.execute(sql, ('010-6987-7890',3))
conn.commit()

NameError: name 'cursor' is not defined

In [ ]:
sql = "UPDATE users SET phone = '%s' WHERE id= %d"
cursor.execute(sql % ('010-6987-7890',4))
conn.commit()

In [ ]:
sql = "UPDATE users SET username =:username WHERE id=:id"
cursor.execute(sql, {"username":"coo","id":5})
conn.commit()

In [ ]:
# 삭제
sql = "DELETE FROM users WHERE id= ?"
cursor.execute(sql, (3,))

In [ ]:
sql = "DELETE FROM users WHERE id=%d"
cursor.execute(sql % 4)

In [ ]:
sql = "DELETE FROM users WHERE id=:id"
cursor.execute(sql, {"id":5})

In [ ]:
conn.commit()